[viewBag]
==
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Ekstrakurikuler</h2>
            <hr class="star-light">
        </div>
    </div>
    <div class="row">
                <div class="col-sm-4">
                    <a href="" class="thumbnail">
                        <img src="{{ 'assets/images/ekskul/pramuka.png'|theme }}" alt="gambar 1">
                       
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="" class="thumbnail">
                        <img src="{{ 'assets/images/ekskul/osis.png'|theme }}" alt="gambar 1">
                       
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="" class="thumbnail">
                        <img src="{{ 'assets/images/ekskul/paskib.png'|theme }}" alt="gambar 1">
                        
                    </a>
                </div>
                
            </div>
</div>