[viewBag]
==
<div class="jumbotron text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="{{ 'assets/images/icon2.png'|theme }}" class="img-circle">
                <h1>SMK CATURGLOBAL</h1>
                <p>Teknik Komputer Jaringan| Teknik Kendaraan Ringan | Akuntansi</p>
            </div>
            <div class="col-sm-12">
                <div class="batas"></div>
            </div>
        </div>
    </div>
</div>