[viewBag]
==
<div class="portfolio-modal modal fade" id="tkj" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Teknik Komputer Jaringan</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/tkj2.png'|theme }}" class="img-responsive img-centered" alt="">
                        <p>Teknik Komputer & Jaringan (TKJ) merupakan salah satu program keahlian SMK yang bergerak di bidang Informasi dan Teknologi. Siswa jurusan TKJ dididik untuk mampu melakukan installasi jaringan komputer, baik itu jaringan komputer dalam rumah / kantor, antar kantor, antar kota, antar provinsi, bahkan antar negara. <br/>
                        
                            Dalam sebuah perusahaan, jaringan komputer merupakan hal yang wajib. Setiap komputer yang berada di kantor harus bisa terhubung dengan komputer lainnya. Selain itu setiap komputer juga harus terhubung ke internet untuk mengumpulkan informasi. <br />
                            Jika sebuah perusahaan memiliki kantor cabang, maka antara kantor pusat dan kantor cabang juga harus saling terhubung, hal ini dikarenakan banyak sekali komunikasi yang perlu dilakukan antara kantor pusat dan kantor cabang.<br />
                            
                            Tidak cukup hanya terhubung saja, jaringan komputer yang dibentuk antar kantor harus memiliki efiseinsi dan kecepatan yang tinggi, sehingga pertukaran informasi yang dilakukan antar kantor bisa berjalan dengan baik. <br />


                              
                        </p>
                      
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="tkr" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Teknik Kendaraan Ringan</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/tkr2.png'|theme }}" class="img-responsive img-centered" alt="">
                        <p>Program keahlian Teknik Kendaraan Ringan (TKR) membekali siswa dengan kemampuan dalam bidang otomatif yang menekankan keahlian pada bidang penguasaan secara teknis mengenai kendaraan ringan. Program keahlian Teknik Kendaran Ringan ini menyiapkan agar siswa mampu merawat dan memperbaiki sistem kendaraan roda 4 beserta piranti pendukungnya. Kemampuan atau kompetensi dari siswa lulusan program keahlian Teknik Kendaraan ringan memberikan peluang kepada siswa untuk bekerja dalam bidang pekerjaan otomotif di dunia usaha/industri kendaraan roda 4.</p>
                       
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="ak" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Akuntansi</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/ak2.png'|theme }}" class="img-responsive img-centered" alt="">
                        <p>Jurusan Akuntansi adalah jurusan membutuhkan kesabaran, ketelitian dan penuh kehati-hatian. Kenapa jurusan Akuntansi perlu kesabaran, ketelitian dan kehati-hatian? Apakah jurusan yang lain tidak membutuhkan itu?. Sebenarnya semua ilmu perlu dipelajari dengan kesabaran, ketekunan, ketelitian serta kehati-hatian. Namun pada jurusan Akuntansi ini kamu bakalan ketemu dengan urusan hitung menghitung keuangan yang tentunya harus teliti dan hati-hati, salah hitung Uang Perusahaan atau uang Orang kamu bakalan nombok. Bisa dibayangkan ketika kamu kerja disebuah Perusahaan, dan kamu ada dibagian accounting atau kasir yang setiap harinya berurusan dengan uang pasti kamu harus sangat hati-hati dalam menghitungnya. Jika salah hitung, kamu siap siap nombokin, hehe...Makanya jurusan yang ini dikhususkan bagi kamu yang suka hitung-hitungan dan tentunya teliti.</p>
                  
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/game.png'|theme }}" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/safe.png'|theme }}" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="{{ 'assets/images/portfolio/submarine.png'|theme }}" class="img-responsive img-centered" alt="">
                        <p>Use this area of the page to describe your project. The icon above is part of a free icon set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you can download their free set with 16 icons, or you can purchase the entire set with 146 icons for only $12!</p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong><a href="http://startbootstrap.com">April 2014</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong><a href="http://startbootstrap.com">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>